<!DOCTYPE html>

<div class="nav">
    <h3 id="logo">HuddleUp</h3>
    <form method="post" class="signUpInfo">
        <div class="signUp">
            <p>Don't have an account? <a href="/signUp" id="signUp">Sign Up!</a></p>
        </div>
        <div class="loginForm">
            <input class = "email" type="text" name="email" value="Email">
            <input class = "password" type="password" name="password" value="Password">
            <input type="submit" name="" value="SUBMIT" class="submitButton submitLogin">
        </div>
    </form>
</div>

<div class="dropdown">
    <img src="menu.png" alt="" class="dropdown-toggle" data-toggle="dropdown">
    <ul class="dropdown-menu">
        <li><input class="emailDropdown" type="text" name="emailDropdown" value="Email"></li>
        <li><input class="passwordDropdown" type="password" name="passwordDropdown" value="Password"></li>
        <li><input type="submit" name="" value="SUBMIT" class="submitButton submitLoginDropdown"></li>
        <li>
            <div class="signUp">
                <p>Don't have an account?</p>
                <a href="/signUp" class="signUp">Sign Up!</a>
            </div>
        </li>
    </ul>
</div>



<div class="main">
    <p class="tagline">Team Management - simplifed. Create your free account today and start managing your teams!</p>
    <h1 class="headline">HuddleUp</h1>
</div>

<div class="appInfo container-fluid">

    <div class="roster row">
        <div class="icon col-sm-6">
            <img src="/contact-dark.svg" alt="Contact Image" class="iconImage">
        </div>
        <div class="info col-sm-6">
            <h3 class="infoHeading">Team Roster</h3>
            <p>HuddleUp's Team Roster allows you to quickly and easily get the contact information of all the parents on each of your teams.</p>
        </div>
    </div>

    <div class="scheduling row">
        <div class="info col-sm-6">
            <h3 class="infoHeading">Scheduling</h3>
            <p>Keep track of all your teams upcoming events. Only coaches can add events so you know you've got the correct schedule.</p>
        </div>
        <div class="icon col-sm-6">
            <img src="/calendar-dark.svg" alt="Contact Image" class="iconImage">
        </div>
    </div>

    <div class="communication row">
        <div class="icon col-sm-6">
            <img src="/message-dark.svg" alt="Contact Image" class="iconImage">
        </div>
        <div class="info col-sm-6">
            <h3 class="infoHeading">Communication</h3>
            <p>Keep in touch with all your teams with HuddleUp's message application. Coaches can send realtime text message to parents so you never miss a last minute update.</p>
        </div>
    </div>

    <div class="scheduling row">
        <div class="info col-sm-6">
            <h3 class="infoHeading">Photos</h3>
            <p>HuddleUp makes it easy to share team photos. Upload photos from each of your games and events!</p>
        </div>
        <div class="icon col-sm-6">
            <img src="/camera.svg" alt="Contact Image" class="iconImage">
        </div>
    </div>

</div>
