<!DOCTYPE html>

<h1>homepage</h1>

<form method="post">
    Email: <input class = "email" type="text" name="email">
    Password: <input class = "password" type="password" name="password">
    <input type="submit" name="" value="SUBMIT" id="submitLogin">
</form>

<a href="/signUp">Sign Up</a>
