<!DOCTYPE html>

<div class="nav navSignUp">
    <h3 id="logo">HuddleUp</h3>
</div>


<div class="background">

</div>
<div class="dashboard signUpForm">
    <h1 class="create">Create an Account</h1>
    <form action="/signUp" method="POST" class="new_user">
        <div class="form-group">
            <label>First Name:</label>
            <input type="text" name="first" class="form-control first">
        </div>

        <div class="form-group">
            <label>Last Name:</label>
            <input type="text" name="last" class="form-control last">
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input type="text" name="email" class="form-control email">
        </div>

        <div class="form-group">
            <label>Cell Phone:</label>
            <input type="text" name="cellPhone" class="form-control cellPhone">
        </div>

        <div class="form-group">
            <label>Home Phone:</label>
            <input type="text" name="homePhone" class="form-control homePhone">
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" class="form-control password">
        </div>

        <div class="form-group">
            <label>Confirm Password:</label>
            <input type="password" name="confirmPassword" class="form-control  confirmPassword">
        </div>

        <button type="button" name="button" id="signUpButton" class="submitButton">Submit</button>

        <br>
    </form>


</div>


<div class="footer">
    <h4><a href="https://github.com/juliemdyer/Huddle-Up" target="blank">Contact</a></h4>
    <p>&copy 2017 HuddleUp. All Rights Reserved</p>
</div>



<!-- <p>Already a member? <a href="/">Log in</a></p> -->
