<!DOCTYPE html>

<div class="nav navSignUp">
    <h3 id="logo"><a href="/" class="logoLink">HuddleUp</a></h3>
</div>

<div class="dropdown">
    <img src="menu.png" alt="" class="dropdown-toggle" data-toggle="dropdown">
    <ul class="dropdown-menu">
        <li><input class="emailDropdown" type="text" name="emailDropdown" value="Email"></li>
        <li><input class="passwordDropdown" type="password" name="passwordDropdown" value="Password"></li>
        <li><input type="submit" name="" value="SUBMIT" class="submitButton submitLoginDropdown"></li>
        <li>
            <div class="signUp">
                <p>Don't have an account?</p>
                <a href="/signUp" class="signUp">Sign Up!</a>
            </div>
        </li>
    </ul>
</div>

<div class="background">

</div>

<div class="dashboard signUpForm">
    <h1 class="create">Create an Account</h1>
    <form method="post" class="new_user">
        <div class="form-group">
            <label>First Name:</label>
            <input type="text" name="first" class="form-control first">
        </div>

        <div class="form-group">
            <label>Last Name:</label>
            <input type="text" name="last" class="form-control last">
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input type="text" name="email" class="form-control email">
        </div>

        <div class="form-group">
            <label>Cell Phone:</label>
            <input type="text" name="cellPhone" class="form-control cellPhone">
        </div>

        <div class="form-group">
            <label>Home Phone:</label>
            <input type="text" name="homePhone" class="form-control homePhone">
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="password" class="form-control password">
        </div>

        <div class="form-group">
            <label>Confirm Password:</label>
            <input type="password" name="confirmPassword" class="form-control  confirmPassword">
        </div>

        <!-- <button class="submitButton signUpButton">Submit</button> -->
        <input type="submit" name="" value="SUBMIT" class="submitButton signUpButton">
        <br>
    </form>


</div>



<!-- <p>Already a member? <a href="/">Log in</a></p> -->
