body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/****************************
        HOME PAGE
 *****************************/

/* Navigation Bar */
.nav {
    background-color: white;
    width: 100%;
    float: left;
}
#logo {
    color: #11213a;
    letter-spacing: 0.02em;
    display: inline-block;
    float: left;
    padding-left: 23px;
    font-family: 'Graduate', cursive;
}
.loginForm {
    display: block;
    float: right;
    clear: right;
    padding: 0 7px 13px 0;
}
.loginForm input {
    padding: 5px 15px;
    font-size: 13px;
}
.signUp {
    float: right;
    display: block;
}
.signUp p {
    margin: 0;
    padding: 2px 0 5px 0;
}
.loginForm, .signUp {
    padding-right: 10px;
}
.submitButton {
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 0.1em;
    background-color: #3D89D3;
    border: none;
    padding: 7px 22px;
    color: white;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Homepage Background Image */
.main {
    height: 700px;
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
}
.headline {
    font-family: 'Graduate', cursive;
    color: white;
    font-size: 98px;
    margin: 0;
    position: absolute;
    top: 53%;
    left: 37%;
}
.tagline {
    color: white;
    width: 358px;
    font-size: 16px;
    position: absolute;
    top: 47%;
    left: 44%;
    text-align: center;
}

/* Info boxes */
.roster, .scheduling, .communication {
    color: white;
    background-color: #013A92;
}
.infoHeading {
    letter-spacing: 0.1em;
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Graduate', cursive;
}
.icon {
    background-color: white;
    /*background-color: #1C2027;*/
    text-align: center;
}
.iconImage {
    height: 150px;
}
.icon, .info {
    height: 331px;
    display: inline-block;
    width: 50%;
    padding: 84px;
}
.right {
    float: right;
}
.info p {
    line-height: 27px;
    letter-spacing: 0.01em;
}

/* Footer */
.footer {
    padding-top: 60px;
    text-align: center;
    height: 200px;
    background-color: #eaebed;
}


/****************************
        USER HOME
 *****************************/
.navUser {
    padding-top: 20px;
}
.navUser h3 {
    margin: 0;
}
.navUser p {
    margin: 0;
}
#logout {
    display: block;
    margin-bottom: 12px;
}
.welcome {
    display: block;
    float: right;
    text-align: right;
    padding-right: 10px;
}
.background {
    height: 300px;
    background-image: url('/ball.jpg');
    background-size: cover;
    background-position: center;
}
.myTeams {
    letter-spacing: 0.1em;
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Graduate', cursive;
}
.dashboard {
    padding-top: 40px;
    min-height: 475px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.teams {
    padding: 15px 0 30px;
}
.teamButtons {
    padding: 20px;
}


/****************************
        SIGN UP
 *****************************/
.navSignUp {
    padding: 7px 10px 15px;
}
.signUpForm {
    max-width: 500px;
    text-align: left;
    margin-bottom: 30px;
}
.create {
    letter-spacing: 0.1em;
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Graduate', cursive;
}
