body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/****************************
        HOME PAGE
 *****************************/
/* Navigation Bar */
.nav {
    background-color: white;
    width: 100%;
    float: left;
}
#logo {
    display: block;
    color: #11213a;
    letter-spacing: 0.02em;
    display: inline-block;
    float: left;
    padding-left: 23px;
    font-family: 'Graduate', cursive;
}
.loginForm {
    display: block;
    float: right;
    clear: right;
    padding: 0 7px 13px 0;
}
.loginForm input {
    padding: 5px 15px;
    font-size: 13px;
}
.signUp {
    float: right;
    display: block;
}
.signUp p {
    margin: 0;
    padding: 2px 0 5px 0;
}
.loginForm, .signUp {
    padding-right: 10px;
}
.submitButton {
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 0.1em;
    background-color: #3D89D3;
    border: none;
    padding: 7px 22px;
    color: white;
}
.submitButton:hover {
    text-decoration: none;
    color: white;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Homepage Background Image */
.main {
    clear: both;
    height: 550px;
    background-image: url('/huddle.jpg');
    background-size: cover;
    background-position: center;
}
.headline {
    font-family: 'Graduate', cursive;
    color: white;
    font-size: 87px;
    margin: 0;
    position: absolute;
    top: 15%;
    left: 46%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.tagline {
    color: white;
    width: 300px;
    font-size: 16px;
    position: absolute;
    top: 28%;
    left: 55%;
    text-align: center;
}

/* Info boxes */
.roster, .scheduling, .communication {
    color: white;
    background-color: #777d84;
}
.infoHeading {
    letter-spacing: 0.1em;
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Graduate', cursive;
}
.icon {
    background-color: white;
    /*background-color: #1C2027;*/
    text-align: center;
}
.iconImage {
    height: 150px;
}
.icon, .info {
    height: 331px;
    display: inline-block;
    width: 50%;
    padding: 84px;
}
.right {
    float: right;
}
.info p {
    line-height: 27px;
    letter-spacing: 0.01em;
}

/* Footer */
.footer {
    padding-top: 60px;
    text-align: center;
    height: 200px;
    background-color: #eaebed;
}


/****************************
        USER HOME
 *****************************/
.navUser {
    padding-top: 20px;
}
.navUser h3 {
    margin: 0;
}
.navUser p {
    margin: 0;
}
#logout {
    display: block;
    margin-bottom: 12px;
}
.welcome {
    display: block;
    float: right;
    text-align: right;
    padding-right: 10px;
}
.background {
    clear: both;
    height: 370px;
    background-image: url('/ball6.jpg');
    background-size: cover;
    background-position: top;
}
.myTeams {
    letter-spacing: 0.1em;
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Graduate', cursive;
}
.dashboard {
    padding-top: 40px;
    min-height: 475px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.teams {
    width: 250px;
    text-align: left;
    text-align: left;
    margin: 0 auto;
    padding-left: 50px;
}
.trophy {
    margin: 0 auto;
    display: block;
    padding: 20px;
}
.userHomeInfo {
    line-height: 29px;
    padding: 30px;
    max-width: 800px;
    margin: 11px auto -22px;
    font-size: 16px;
}
.teams img {
    height: 16px;
    margin-left: 5px;
    margin-bottom: 4px;
}
.teamButtons {
    padding: 20px;
}
.star {
    display: inline-block;
}


/****************************
        SIGN UP
 *****************************/
.navSignUp {
    padding: 7px 10px 15px;
}
.signUpForm {
    max-width: 500px;
    text-align: left;
    margin-bottom: 30px;
}
.create {
    letter-spacing: 0.1em;
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Graduate', cursive;
}


/****************************
        TEAM HOME
 *****************************/
.teamInfo {
    margin: 0 auto;
    padding: 20px 40px 40px 123px;
     font-size: 16px;
     width: 500px;
     text-align: left;
}
.bold {
    font-weight: 700;
}
.selected {
    background-color: white;
}
body > div.teamNav > ul > li.selected > a {
    color: black;
}

/****************************
        TEAM ROSTER
 *****************************/
.rosterWrapper {
    padding-top: 20px;
    width: 600px;
    margin: 0 auto;
}
.rosterTable {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/****************************
        EVENTS PAGE
 *****************************/
.eventInfo {
    width: 750px;
}
.eventInfo h4 {
    margin: 16px 16px;
}
.eventInfo p {
    margin-left: 105px;
    margin-bottom: 4px;
}
.eventForm {
    padding-top: 0;
}
.eachEvent{
    padding: 20px;
}
.eachEvent img {
    margin-top: 27px;
    width: 75px;
    float: left;
}
.titleEvent {
    font-weight: 700;
    color: #004390;
    text-decoration: underline;
}
#createEventButton {
    margin-bottom: 47px;
}

/****************************
        MESSAGES PAGE
 *****************************/
.messageBoard {
    margin: 0 auto;
    padding: 20px 40px 13px 123px;
    font-size: 16px;
    width: 700px;
    text-align: left;
}
.messageBoard img {
    margin-top: 23px;
    width: 75px;
    float: left;
}
.messageBoard p {
    margin-left: 105px;
    margin-bottom:0;
    line-height: 25px;
}
.eachMessage {
    padding: 20px;
}
#createMessageButton {
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
}


/****************************
        TEAM NAVIGATION BAR
 *****************************/
.teamNav ul {
    margin-left: -40px;
    list-style-type: none;
    text-align: center;
    background-color: #3f7cba;
}
.teamNav li {
    display: inline-block;

    margin-left: -4px;
}
.teamNav li a {
    display: inline-block;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
}
.teamNav li a:hover {

    text-decoration: none;
    /*background-color: white;*/
    color: black;
}
.teamNav li:hover {
    background-color: white;
    color: #004390;
}


/****************************
    SWEET ALERT STYLES
 *****************************/
.swalLabel {
    margin-bottom: 0;
    font-weight: 700;
    text-align: left;
}
