body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/****************************
        HOME PAGE
 *****************************/
/* Navigation Bar */
.nav {
    background-color: white;
    width: 100%;
    float: left;
    height: 75px;
}
.dropdown {
    display: none;
}
#logo {
    display: block;
    color: #11213a;
    letter-spacing: 0.02em;
    display: inline-block;
    float: left;
    padding-left: 23px;
    font-family: 'Graduate', cursive;
}
.loginForm {
    display: block;
    float: right;
    clear: right;
    padding: 0 7px 13px 0;
}
.loginForm input {
    padding: 5px 15px;
    font-size: 13px;
}
.signUp {
    float: right;
    display: block;
}
.signUp p {
    margin: 0;
    padding: 2px 0 5px 0;
}
.loginForm, .signUp {
    padding-right: 10px;
}
.submitButton {
    border-radius: 3px;
    font-weight: 700;
    letter-spacing: 0.1em;
    background-color: #3D89D3;
    border: none;
    padding: 7px 22px;
    color: white;
}
.submitButton:hover {
    text-decoration: none;
    color: white;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Homepage Background Image */
.main {
    clear: both;
    height: 550px;
    background-image: url('/huddle.jpg');
    background-size: cover;
    background-position: center;
}
.headline {
    font-family: 'Graduate', cursive;
    color: white;
    font-size: 87px;
    margin: 0;
    position: absolute;
    top: 15%;
    left: 52%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.tagline {
    color: white;
    width: 300px;
    font-size: 16px;
    position: absolute;
    top: 28%;
    left: 58%;
    text-align: center;
}

/* Info boxes */
.roster, .scheduling, .communication {
    color: white;
    background-color: #777d84;
}
.infoHeading {
    letter-spacing: 0.1em;
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Graduate', cursive;
}

.icon {
    background-color: white;
    /*background-color: #1C2027;*/
    text-align: center;
}
.iconImage {
    height: 150px;
}
.icon, .info {
    height: 331px;
    padding: 65px;
}
.info p {
    line-height: 27px;
    letter-spacing: 0.01em;
}

/* Footer */
.footer {
    padding-top: 60px;
    text-align: center;
    height: 200px;
    background-color: #eaebed;
}
.footer img {
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
    width: 45px;
}



/****************************
        USER HOME
 *****************************/
.logoLink {
    color: black;
}
.logoLink:hover {
    text-decoration: none;
}
.navUser {
    padding-top: 20px;
}
.navUser h3 {
    margin: 0;
}
.navUser p {
    margin: 0;
}
#logout {
    display: block;
    margin-bottom: 12px;
}
.welcome {
    display: block;
    float: right;
    text-align: right;
    padding-right: 10px;
}
.background {
    clear: both;
    height: 275px;
    background-image: url('/ball6.jpg');
    background-size: cover;
    background-position: top;
}
.myTeams {
    letter-spacing: 0.1em;
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Graduate', cursive;
}
.dashboard {
    min-height: 250px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.teams {
    width: 250px;
    text-align: left;
    text-align: left;
    margin: 0 auto;
    padding-left: 50px;
}
.trophy {
    margin: 0 auto;
    display: block;
    padding: 20px;
}
.userHomeInfo {
    line-height: 29px;
    padding: 30px;
    max-width: 800px;
    margin: 11px auto -22px;
    font-size: 16px;
}
.teams img {
    height: 16px;
    margin-left: 5px;
    margin-bottom: 4px;
}
.teamButtons {
    padding: 20px;
}
.star {
    display: inline-block;
}


/****************************
        SIGN UP
 *****************************/
.navSignUp {
    padding: 7px 10px 15px;
}
.signUpForm {
    max-width: 500px;
    text-align: left;
    margin-bottom: 30px;
}
.create {
    letter-spacing: 0.1em;
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Graduate', cursive;
}


/****************************
        TEAM HOME
 *****************************/
.teamInfo {
    margin: 0 auto;
    padding: 20px 40px 40px 123px;
     font-size: 16px;
     width: 500px;
     text-align: left;
}
.bold {
    font-weight: 700;
}
.selected {
    background-color: white;
}
body > div.teamNav > ul > li.selected > a {
    color: black;
}
.trophyHome {
    width: 30px;
}
.myHomeLink {
    margin: 20px;
}
.myHomeLink a:hover {
    text-decoration: none;
}
.starDiv {
    margin-top: -15px;
    margin-left: -11px;
}
.starTeamHome {
    margin-top: -4px;
    width: 20px;
    display: inline-block;
}
.coach {
    margin-left: 4px;
    display: inline-block;
}


/****************************
        TEAM ROSTER
 *****************************/
.rosterWrapper {
    padding-top: 20px;
    width: 600px;
    margin: 0 auto;
}
.rosterTable {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/****************************
        EVENTS PAGE
 *****************************/
.eventInfo {
    width: 750px;
}
.eventInfo h4 {
    margin: 16px 16px;
}
.eventInfo p {
    margin-left: 105px;
    margin-bottom: 4px;
}
.eventForm {
    padding-top: 0;
}
.eachEvent{
    padding: 20px;
}
.eachEvent img {
    margin-top: 27px;
    width: 75px;
    float: left;
}
.titleEvent {
    font-weight: 700;
    color: #004390;
    text-decoration: underline;
}
#createEventButton {
    margin-bottom: 47px;
}

/****************************
        MESSAGES PAGE
 *****************************/
.messageBoard {
    margin: 0 auto;
    padding: 20px 40px 13px 123px;
    font-size: 16px;
    width: 700px;
    text-align: left;
}
.messageBoard img {
    margin-top: 23px;
    width: 75px;
    float: left;
}
.messageBoard p {
    margin-left: 105px;
    margin-bottom:0;
    line-height: 25px;
}
.eachMessage {
    padding: 20px;
}
#createMessageButton {
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
}


/****************************
        TEAM NAVIGATION BAR
 *****************************/
.teamNav ul {
    margin-left: -40px;
    list-style-type: none;
    text-align: center;
    background-color: #3f7cba;
}
.teamNav li {
    display: inline-block;

    margin-left: -4px;
}
.teamNav li a {
    display: inline-block;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
}
.teamNav li a:hover {

    text-decoration: none;
    /*background-color: white;*/
    color: black;
}
.teamNav li:hover {
    background-color: white;
    color: #004390;
}




/****************************
    SWEET ALERT STYLES
 *****************************/
.swalLabel {
    margin-bottom: 0;
    font-weight: 700;
    text-align: left;
}


/****************************
    PHOTOS
 *****************************/

#uploadWidget > div > span:before {
    content: 'Click or Drag and ';
}
#uploadWidget {
    width: 200px;
    margin: 0 auto;
}
.photoSubmit {
    margin: 20px;
}
.eachPhoto {
    display: inline-block;

}
.eachPhoto img {
    width: 400px;
    border-radius: 5px;
    margin: 0 10px 30px 10px;
}



/****************************
    MEDIA QUERIES
*****************************/
@media screen and (max-width: 900px) {
    .headline {
        font-size: 84px;
        left: 41%;
    }
    .tagline {
        left: 50%;
        top: 26%;
    }
    .signUpForm {
        width: 85%;
    }
}

@media screen and (max-width: 791px) {
    .headline {
        font-size: 80px;
    }
    .tagline {
        left: 50%;
    }

}
 /* iPad */
@media screen and (max-width: 768px) {
    .icon, .info {
        height: 250px;
        padding: 38px 48px;
        text-align: center;
    }
    .iconImage {
        height: 112px;
        margin-top: 20px;
    }
    .headline {
        font-size: 66px;
    }
    .tagline {
        top: 24%;
        left: 43%;
    }
    .myHomeLink {
        text-align: center;
    }
    .signUpInfo {
        display: none;
    }
    .dropdown {
        display: block;
    }
    .dropdown-menu {
        position: absolute;
        top: 72px;
        left: 70%;
        padding: 28px;
    }
    .dropdown-menu li {
        text-align: center;
    }
    .dropdown-menu input {
        margin: 10px auto;
        padding: 10px;
    }
    .dropdown img {
        width: 42px;
        float: right;
        position: absolute;
        top: 14px;
        left: 89%;
    }
}

@media screen and (max-width: 760px) {
    /* Info boxes */
    .roster, .scheduling, .communication {
        display: flex;
        flex-direction: column;
    }
    .scheduling .icon {
        order: 1;
    }
    .scheduling .info {
        order: 2;
    }
}

@media screen and (max-width: 631px) {
    .headline {
        font-size: 55px;
    }
    .tagline {
        top: 22%;
        left: 41%;
        font-size: 15px;
    }
    .dropdown-menu {
        left: 61%;
    }

}
@media screen and (max-width: 550px) {
    .headline {
        font-size: 45px;
    }
    .tagline{
        width: 250px;
        font-size: 14px;
    }
}

/* iPhone 6 plus */
@media screen and (max-width: 414px) {
    .background {
        display: none;
    }
    #logo, .signUp {
        float: none;
    }
    .email, .password {
        border: 1px solid gray;
    }
    .loginForm input {
        padding: 9px 5px;
        font-size: 13px;
    }
    .signUp p {
        padding: 0px 0px 5px 11px;
    }
    .headline {
        font-size: 47px;
        top: 13%;
        left: 34%;
    }
    .tagline {
        top: 22%;
        left: 43%;
        width: 200px;
        font-size: 13px;
    }
    .main {
        height: 400px;
    }
    .teamNav li {
        display: block;
    }
    .teamInfo {
        width: 100%;
        padding: 20px 40px 40px 55px;
    }
    .rosterWrapper {
        width: 100%;
    }
    .myTeams {
        padding: 10px;
    }
    .eventInfo, .eachEvent, .messageBoard, .eachMessage {
        width: 100%
    }
    .eventInfo p, .eachMessage p{
        font-size: 15px;
    }
    .messageBoard {
        padding: 0;
    }
    .eachPhoto img {
        width: 300px;
    }
    .photosUl {
        padding:0;
    }
    .dropdown img {
        left: 86%;
    }
    .dropdown-menu {
        left: 44%;
    }
}


/* iphone 6 */
@media screen and (max-width: 375px) {
    .headline {
        font-size: 39px;
        top: 15%;
        left: 35%;
    }
    .tagline {
        font-size: 14px;
        top: 23%;
        left: 39%;
    }
    .icon, .info {
        padding: 24px 42px;
    }
    .iconImage {
        margin-top: 37px;
    }
    .teamInfo {
        padding: 20px;
    }
    .eachMessage p, .eachEvent p {
        font-size: 13px;
    }
    .dropdown-menu {
        left: 38%;
    }
}


/* iphone 5 */
@media screen and (max-width: 320px) {
    .headline {
        left: 28%;
        top: 18%;
    }
    .tagline {
        top: 27%;
    }
    .iconImage {
        height: 112px;
        margin-top: 56px;
        height: 91px;
    }
    .dropdown-menu {
        left: 27%;
    }
    .dropdown img {
        left: 82%;
    }
    .icon, .info {
        padding: 23px 18px;
    }
    td, th {
        padding: 5px;
        font-size: 12px;
    }
    .messageBoard p {
        line-height: 21px;
    }

}
